p{
    color: brown;
}

h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    text-align: center;
}

h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    text-align: center;
}

h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
}

.Table
{
    display: table;
    margin-left: auto; /*Table position centered*/
    margin-right: auto; /*Table position centered*/
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}
.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
