{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django First Project</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>

<body>
    <a href="{% url 'home_page' %}">Home</a>
    <a href="{% url 'service' %}">Service</a>
    <a href="{% url 'welcome' %}">Welcome</a>


    <h1>Al-Arafah Islami Bank PLC</h1>
    <h2>Al-Arafah Tower, 63, Purana Paltan, Dhaka-1000.</h2>
    <h3>Head Office.</h3>

    <div class="Table">
        <div class="Title">
            <p>Employee Information</p>
        </div>
        <div class="Heading">
            <div class="Cell">
                <p>Employee Name</p>
            </div>
            <div class="Cell">
                <p>Employee ID</p>
            </div>
            <div class="Cell">
                <p>Heading 3</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>Row 1 Column 1</p>
            </div>
            <div class="Cell">
                <p>Row 1 Column 2</p>
            </div>
            <div class="Cell">
                <p>Row 1 Column 3</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>Row 2 Column 1</p>
            </div>
            <div class="Cell">
                <p>Row 2 Column 2</p>
            </div>
            <div class="Cell">
                <p>Row 2 Column 3</p>
            </div>
        </div>
    </div>
    

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem numquam quo ipsum
        ducimus eum cupiditate dolor asperiores, odit, accusantium, fugiat eveniet dicta deleniti dignissimos?
        Eaque animi voluptas praesentium
        quisquam!</p>
 
    <p>AIB PLC, Dhaka-100</p>

    <h1>Generate and Download PDF and CSV</h1>
    <h2>Add a New Book</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Book</button>
    </form>
    <p><a href="{% url 'generate_pdf' %}" download>Download Book Catalog (PDF)</a></p>
    <br>
    <p><a href="{% url 'generate_csv' %}" download>Download Book Catalog (CSV)</a></p> 
    <!-- <p><a href="{% url 'generate_pdf' %}" download>Download Book Catalog (CSV)</a></p> -->    

</body>

</html>